@{
    ViewData["ActivePage"] = "CreatePicture";
    ViewData["ActiveTab"] = "Pictures";
}
@model PicturesShop.Models.PictureController.CreatePicture;
<div class="mt-3 ml-3 mr-3 mb-3">
    <h4>Create picture</h4>
    <hr>
    <form asp-controller="Picture" asp-action="CreatePicture">
        <div class="row">
            <div class="col">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" type="text" id="Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="Parts"></label>
                <input class="form-control" type="number" asp-for="Parts" step="1">
                <span asp-validation-for="Parts" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description" style="resize: none;" rows="16" maxlength="3000"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="Price"></label>
                <input class="form-control" type="number" asp-for="Price" step="0.01">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="PublishedOn"></label>
                <input class="form-control" type="date" asp-for="PublishedOn">
                <span asp-validation-for="PublishedOn" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="GenreName"></label>
                <input class="form-control" type="text" asp-for="GenreName">
                <span asp-validation-for="GenreName" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="PublisherName"></label>
                <input class="form-control" type="text" asp-for="PublisherName">
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <h5>Author</h5>
            <div class="col">
                <label asp-for="FirstName"></label>
                <input class="form-control" type="text" asp-for="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="LastName"></label>
                <input class="form-control" type="text" asp-for="LastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="ImgUrl"></label>
                <input class="form-control" type="text" asp-for="ImgUrl">
                <span asp-validation-for="ImgUrl" class="text-danger"></span>
            </div>
        </div>
        <button class="btn btn-primary mt-3" type="submit">Create picture</button>
    </form>

</div>