@{
    ViewData["ActivePage"] = "DeletePublisher";
    ViewData["ActiveTab"] = "Publishers";
}
@using PicturesShop.Models.PublisherController
@model DeletePublisher
<div class="mt-3 mr-3 ml-3 mb-3">
    <h4>Delete publisher</h4>
    <hr>
    <form asp-controller="Publisher" asp-action="DeletePublisher">
        <div class="row">
            <div class="col">
                <label asp-for="PublisherId"></label>
                <input type="number" asp-for="PublisherId" class="form-control">
                <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button type="submit" class="btn btn-primary">Delete publisher</button>
            </div>
        </div>
    </form>
</div>